
        .color-demo-area,
        .color-selector-area {
            height: 400px;
            background-color: #ccc;
        }

        .col-3 .color-selector {
            /* height: 0px; */
            width: 100%;
            /* padding-bottom: 100%; */
            /* ↓↓↓比例1比1 */
            aspect-ratio: 1/1;
            /* background-color: #faf; */
            border-radius: 50%;
        }

        /* .col-3:nth-child(1) .color-selector {
            background-color: lightpink;
        }

        .col-3:nth-child(2) .color-selector {
            background-color: lightseagreen;
        } */

